*/**/events.out.tfevents*
*/**/*.ckpt
transformer-jax-pytorch/transformers/checkpoints/*
transformer-jax-pytorch/transformers/checkpoints/*/**
transformer-jax-pytorch/transformers/.ipynb_checkpoints/**
transformer-jax-pytorch/transformers/data/*
transformer-jax-pytorch/transformers/data/*/**
transformer-jax-pytorch/transformers/save_models/*
transformer-jax-pytorch/transformers/save_models/*/**

